<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pack Demo</title>
</head>
<body>
  <h2>Your can check what the all.min.js is.</h2>
  <p>
      <div>
          <label for="grunt">Use grunt: </label>
          <a href="dist/grunt/public/scripts/all.min.js" target="_blank">all.min.js</a>
          <a href="dist/grunt/public/lib/all.lib.min.js" target="_blank">all.lib.min.js</a>
      </div>
  </p>
  <p>
      <div>
          <label for="grunt">Use gulp: </label>
          <a href="dist/gulp/public/scripts/all.min.js" target="_blank">all.min.js</a>
          <a href="dist/gulp/public/lib/all.lib.min.js" target="_blank">all.lib.min.js</a>
      </div>
  </p>
  <script type="text/javascript" src="dist/grunt/public/scripts/all.min.js"></script>
  <script type="text/javascript" src="dist/gulp/public/scripts/all.min.js"></script>
</body>
</html>